[user]
	name = Allen Moore
	email = allen.moore@10up.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[web]
	browser = google-chrome
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[alias]
	c = commit
	ca = commit -a
	cm = commit -m
	cam = commit -am
	d = diff
	dc = diff --cached
	l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
